<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Orders</title>
</head>
<body>
<div>
    <h2>Create Order</h2>
    <div>
        {{ range .orders }}
        <table>
            <th><td>Description</td><td>Price</td><td>Qty</td><td>Totals</td></th>
            <tr>
                <td>{{ .description }}</td>
                <td>{{ .price }}</td>
                <td>{{ .quantity }}</td>
                <td>{{ .lineTotal }}</td>
            </tr>
        </table>
        {{ else }}
        {{ end }}
    </div>
    <form action="/createOrder" method="post">
        <span>Add to order: <select>

        </select></span>
    </form>
</div>
</body>
</html>